@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #05B6D3;
  --color-secondary: #EF863E;

  --background-image-login-bg-img: url('/src/assets/login-bg.jpg');

}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  body{
    background-color: #7ED957;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-[#7ED957]/20 border-[1.5px] border-transparent px-5 py-4 rounded mb-4 outline-none transition-all focus:border-[#7ED957]/50;
  }

  .btn-primary {
    @apply w-full text-sm font-semibold text-white bg-[#7ED957] p-4 rounded-lg my-1 hover:bg-[#6cc94a] transition-all uppercase tracking-wide;
  }

  .btn-secondary {
    @apply w-full text-sm font-semibold text-[#7ED957] bg-[#7ED957]/20 p-4 rounded-lg my-1 hover:bg-[#7ED957] hover:text-white transition-all uppercase tracking-wide;
  }
}
